<% @images.each do |image| %>
  <div class="row">
    <div class='small-8 columns centered'>
      <div><%= image[:camera] %></div>
      <img src='<%= image[:img_src] %>'/>
    </div>
  </div>
<% end %>
