<!DOCTYPE html>
<html>
<head>
  <title>Curiosity</title>
  <link href="/vendor/foundation.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='row'>
    <div class="top-bar">
      <div class='title-area'>
        <div class='name'>
          <h1>
            <a href='/images'>
              Photos from the NASA Mars Rover Curiosity
            </a>
          </h1>
        </div>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
